<p>You have registered {{manifestationEvents?.length}} manifestations</p>

<div class="card mb-1" *ngFor="let event of manifestationEvents">
  <div class="card-block row m-1">
    <h4 class="card-title col-md-12 p-1">{{event?.what?.title}}</h4>
    <div class="col-md-4 p-1">
      <h6 class="card-subtitle text-muted">Authors</h6>
      <p class="card-text">{{event?.what?.authors}}</p>
    </div>
    <div class="col-md-4 p-1">
      <h6 class="card-subtitle text-muted">Hash</h6>
      <a class="card-text" href="https://ipfs.infura.io/ipfs/{{event?.what.hash}}" target="_blank">
        {{event?.what.hash}}</a>
    </div>
    <div class="col-md-4 p-1">
      <h6 class="card-subtitle text-muted">Registered</h6>
      <p class="card-text">{{event?.when}}</p>
    </div>
  </div>
</div>
