<div class="jumbotron">
  <h2><span class="fas fa-copyright"></span>opyright<b>LY</b></h2>
  <p>A Decentralized Application (ÐApp) for Copyright Management based on the Ethereum blockchain.</p>
  <h3>Features</h3>
  <ul>
    <li>Registry - <a [routerLink]="['/register']">Register</a>:
      manifest single authorship on content by registering it online.</li>
    <li>Registry - <a [routerLink]="['/search']">Search</a>:
      check if a piece of content is already registered using its hash.</li>
    <li>Registry - <a [routerLink]="['/list']">List</a>:
      look for all the authorship manifestations made by the current user.</li>
  </ul>
</div>
<div>
  <p><span class="fab fa-github"></span><a href="https://github.com/rogargon/copyrightly.io">
    https://github.com/rogargon/copyrightly.io</a></p>
</div>
