.logo-icon {
  font-size: larger;
}

.logo-boldtext {
  font-weight: bold;
}

#refresh-accounts {
  color: white;
  font-size: small;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 2px;
  padding: 2px 4px 2px 3px;
  vertical-align: text-top;
}
