<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <span class="fas fa-copyright logo-icon"></span>
    <span class="logo-text">opyright</span><span class="logo-boldtext">LY</span>
  </a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbarContent" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/about']"><span class="fa fa-question-circle"></span> About</a>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Registry</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/list']"><span class="fa fa-list"></span> List</a>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/register']"><span class="fa fa-gavel"></span> Register</a>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/search']"><span class="fa fa-search"></span> Search</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">More coming...</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">{{account}}</ul>
  </div>
</nav>
