<h4><span class="fa fa-gavel"></span> Register Your Work</h4>
<p class="lead">Provide creation title and content hash for registration</p>

<form id="manifest-form" (ngSubmit)="manifest()" #manifestForm="ngForm">
  <fieldset>

    <!-- Content author select -->
    <div class="form-group" [class.was-validated]="inputAuthor.dirty || inputAuthor.touched">
      <label class="control-label" for="inputAuthor">Author*</label>
      <span class="row pl-3 pr-3">
        <select id="inputAuthor" name="inputAuthor" class="form-control col" required
                [(ngModel)]="account" #inputAuthor="ngModel">
          <option *ngFor="let account of accounts" [ngValue]="account">{{account}}</option>
        </select>
        <button id="refresh-accounts" type="button" (click)="getAccounts()">
          <span class="fa fa-sync-alt"></span>
        </button>
      </span>
    </div>

    <!-- Content title input -->
    <div class="form-group" [class.was-validated]="inputTitle.dirty || inputTitle.touched">
      <label class="control-label" for="inputTitle">Title*</label>
      <input id="inputTitle" name="inputTitle" type="text" class="form-control" required
             [(ngModel)]="manifestation.title" #inputTitle="ngModel" placeholder="Content title">
      <div class="invalid-feedback">A content title is required</div>
    </div>

    <!-- Content hash input -->
    <div class="form-group" [class.was-validated]="inputHash.dirty || inputHash.touched">
      <label class="control-label" for="inputHash">Username*</label>
      <input id="inputHash" name="inputHash" type="text" class="form-control" required
             [(ngModel)]="manifestation.hash" #inputHash="ngModel" placeholder="Content hash">
      <div class="invalid-feedback">A content hash is required</div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <button id="manifest" type="submit" class="btn btn-success pull-right"
              [disabled]="!manifestForm.form.valid">Register</button>
    </div>

  </fieldset>
</form>
